@charset "utf-8";

	
	.mc-0{
		color: #000000;
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
		font-size:15px;
	}
	.mc-1{
		color: #0000AA;
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
		font-size:15px;
	}
	.mc-2{
		color: #00AA00;
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
		font-size:15px;
	}
	.mc-3{
		color: #00AAAA;
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
		font-size:15px;
	}
	.mc-4{
		color: #AA0000;
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
		font-size:15px;
	}
	.mc-5{
		color: #AA00AA;
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
		font-size:15px;
	}
	.mc-6{
		color: #FFAA00;
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
		font-size:15px;
	}
	.mc-7{
		color: #AAAAAA;
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
		font-size:15px;
	}
	.mc-8{
		color: #555555;
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
		font-size:15px;
	}
	.mc-9{
		color: #5555FF;
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
		font-size:15px;
	}
	.mc-a{
		color: #55FF55;
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
		font-size:15px;
	}
	.mc-b{
		color: #55FFFF;
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
		font-size:15px;
	}
	.mc-c{
		color: #FF5555;
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
		font-size:15px;
	}
	.mc-d{
		color: #FF55FF;
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
		font-size:15px;
	}
	.mc-e{
		color: #FFFF55;
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
		font-size:15px;
	}
	.mc-f{
		color: #FFFFFF;
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
		font-size:15px;
	}
	.mc-g{
		color: #DDD605;
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
		font-size:15px;
	}
	.mc-k{
		font-size:0px;
	}
	.mc-l{
		font-weight: bold;
	}
	.mc-m{
		text-decoration: line-through;
	}
	.mc-n{
		text-decoration: underline;
	}
	.mc-o{
		font-style: italic;
	}
	.mc-r{
		color: #000000;
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
		font-size:15px;
	}
	.mc{
		color: #000000;
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
		font-size:15px;
		border-radius: 0px;
		padding: 0px 5px 2px 5px;
		-webkit-transition: background 0.2s;
	}
	.mc:hover{
		color: #000000;
		font-weight: normal;
		font-style: normal;
		text-decoration: none;
		background: #A0A0A0;
	}